* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
   margin: auto;
   height: auto;
}
header{
    background-color: #D2691E;
    height: 70px;
    text-align: center;
}

section{
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    /* border:  solid gray; */
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
}
label{
    margin: 1.5%;
}

button{
    width: 20%;
}

