/* screen - alter-cep */

.alter-cep {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #0000000d;
  display: flex;
  flex-direction: column;
  min-height: 343px;
  overflow-x: hidden;
  padding: 32px 0;
  width: 1004px;
}

.alter-cep .flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 38px;
  height: 59px;
  margin-left: 42px;
  min-width: 212px;
}

.alter-cep .line-container {
  height: 16px;
  position: relative;
  width: 18px;
}

.alter-cep .line-72 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.alter-cep .line-73 {
  height: 16px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 17px;
}

.alter-cep .cep {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 52px;
  width: 156px;
}

.alter-cep .line-52 {
  height: 3px;
  margin-top: 52px;
  width: 946px;
}

.alter-cep .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 117px;
  height: 56px;
  margin-left: 2.61px;
  margin-top: 56px;
  min-width: 837px;
}

.alter-cep .line-69 {
  align-self: flex-end;
  height: 1px;
  width: 402px;
}

.alter-cep .overlap-group {
  align-items: flex-start;
  background-image: url(../img/rectangle-81-2@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 55px;
  margin-top: 0;
  min-width: 316px;
  padding: 7.0px 82px;
}

.alter-cep .salvar {
  letter-spacing: 0;
  line-height: normal;
  min-height: 32px;
  text-align: center;
  width: 151px;
}
