/* screen - endereco */

.endereco {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(255, 255, 255) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  height: 1117px;
  min-width: 1728px;
}

.endereco .overlap-group4 {
  height: 1118px;
  margin-top: -1px;
  position: relative;
  width: 1728px;
}

.endereco .rectangle-183 {
  background: linear-gradient(180deg, rgb(90, 178, 245) 0%, rgb(42, 254, 215.84) 100%);
  border: 1px none;
  height: 1117px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1728px;
}

.endereco .rectangle-184 {
  background-color: var(--gallery);
  border: 1px none;
  height: 1017px;
  left: 297px;
  position: absolute;
  top: 101px;
  width: 1431px;
}

.endereco .rectangle-185 {
  background-color: var(--white);
  border: 1px none;
  box-shadow: 0px 4px 4px #0000001f;
  height: 1017px;
  left: 0;
  position: absolute;
  top: 101px;
  width: 297px;
}

.endereco .configuraes {
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 196px;
  width: 157px;
}

.endereco .icon-settings {
  height: 22px;
  left: 24px;
  position: absolute;
  top: 200px;
  width: 23px;
}

.endereco .rectangle-186 {
  background: linear-gradient(180deg, rgb(39, 153, 242) 0%, rgb(90, 178, 245) 100%);
  border: 1px none;
  border-radius: 0px 10px 10px 0px;
  height: 59px;
  left: 0;
  position: absolute;
  top: 182px;
  width: 4px;
}

.endereco .group-152 {
  align-items: flex-start;
  display: flex;
  gap: 18px;
  height: 37px;
  left: 24px;
  min-width: 201px;
  padding: 0 0.0px;
  position: absolute;
  top: 136px;
}

.endereco .overlap-group {
  align-self: center;
  height: 20px;
  margin-bottom: 6.8px;
  position: relative;
  width: 24px;
}

.endereco .rectangle-46 {
  border: 2px solid;
  border-color: var(--cape-cod);
  border-radius: 2px;
  height: 13px;
  left: 2px;
  position: absolute;
  top: 8px;
  width: 20px;
}

.endereco .line-9 {
  height: 1px;
  left: 2px;
  position: absolute;
  top: 10px;
  width: 21px;
}

.endereco .rectangle-47 {
  border: 2px solid;
  border-color: var(--cape-cod);
  border-radius: 1px;
  height: 10px;
  left: 8px;
  position: absolute;
  top: 11px;
  width: 8px;
}

.endereco .rectangle-48 {
  background-color: var(--white);
  border: 1px none;
  height: 8px;
  left: 10px;
  position: absolute;
  top: 13px;
  width: 4px;
}

.endereco .line-10 {
  height: 11px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

.endereco .line-11 {
  height: 11px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 12px;
}

.endereco .pgina-inicial {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 37px;
  width: 157px;
}

.endereco .group-55 {
  align-items: flex-start;
  display: flex;
  gap: 13px;
  height: 37px;
  left: 27px;
  min-width: 89px;
  position: absolute;
  top: 963px;
}

.endereco .overlap-group-1 {
  align-self: center;
  height: 22px;
  margin-bottom: 5.0px;
  position: relative;
  width: 21px;
}

.endereco .rectangle-180 {
  border: 2px solid;
  border-color: var(--cape-cod);
  border-radius: 3px;
  height: 22px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 15px;
}

.endereco .line-32 {
  height: 1px;
  left: 2px;
  position: absolute;
  top: 14px;
  width: 13px;
}

.endereco .line-31 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 12px;
  width: 13px;
}

.endereco .vector-19 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 3px;
}

.endereco .sair {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 37px;
  width: 53px;
}

.endereco .line-37 {
  height: 1px;
  left: 30px;
  position: absolute;
  top: 938px;
  width: 236px;
}

.endereco .line-38 {
  height: 1px;
  left: 24px;
  position: absolute;
  top: 256px;
  width: 236px;
}

.endereco .line-39 {
  height: 1px;
  left: 30px;
  position: absolute;
  top: 1021px;
  width: 236px;
}

.endereco .skybank-cloud {
  height: 48px;
  left: 49px;
  object-fit: cover;
  position: absolute;
  top: 1046px;
  width: 56px;
}

.endereco .sky-bank {
  left: 113px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.2;
  position: absolute;
  top: 1045px;
  width: 127px;
}

.endereco .overlap-group1 {
  border-radius: 15px;
  height: 593px;
  left: 485px;
  position: absolute;
  top: 418px;
  width: 1063px;
}

.endereco .group-139 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #0000000d;
  display: flex;
  height: 593px;
  left: 0;
  min-width: 1063px;
  padding: 118px 0;
  position: absolute;
  top: 0;
}

.endereco .line-50 {
  height: 348px;
  width: 1063px;
}

.endereco .cep {
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  width: 264px;
}

.endereco .text-4 {
  left: 400px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  width: 264px;
}

.endereco .nome-da-ruaavenida {
  left: 400px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 149px;
  width: 324px;
}

.endereco .number {
  left: 400px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 264px;
  width: 63px;
}

.endereco .endereo {
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 149px;
  width: 137px;
}

.endereco .nmero {
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 264px;
  width: 205px;
}

.endereco .complemento {
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 379px;
  width: 205px;
}

.endereco .opcional {
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 412px;
  width: 205px;
}

.endereco .group-161 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 45px;
  justify-content: flex-end;
  left: 1454px;
  min-width: 44px;
  padding: 5.7px 5.5px;
  position: absolute;
  top: 465px;
}

.endereco .group-15 {
  height: 32px;
  width: 33px;
}

.endereco .group-160 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 45px;
  left: 1454px;
  min-width: 44px;
  padding: 5.7px 5px;
  position: absolute;
  top: 580px;
}

.endereco .group-165 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 45px;
  left: 1454px;
  min-width: 44px;
  padding: 5.7px 5px;
  position: absolute;
  top: 695px;
}

.endereco .group-162 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 45px;
  left: 1454px;
  min-width: 44px;
  padding: 5.7px 5px;
  position: absolute;
  top: 801px;
}

.endereco .nome-do-bairro {
  left: 885px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 914px;
  width: 239px;
}

.endereco .sala-0 {
  left: 885px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 805px;
  width: 85px;
}

.endereco .bairro {
  left: 518px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 914px;
  width: 205px;
}

.endereco .group-164 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 45px;
  left: 1454px;
  min-width: 44px;
  padding: 5.7px 5px;
  position: absolute;
  top: 918px;
}

.endereco .overlap-group2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 4px 4px #0000000d;
  display: flex;
  gap: 371px;
  height: 188px;
  justify-content: flex-end;
  left: 485px;
  min-width: 1063px;
  padding: 40px 54px;
  position: absolute;
  top: 197px;
}

.endereco .endereo-container {
  align-self: flex-end;
  height: 92px;
  position: relative;
  width: 399px;
}

.endereco .endereo-1 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 208px;
}

.endereco .altere-seu-endereo-ou-adicione-outro {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
  width: 399px;
}

.endereco .voltar {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 13.0px;
  min-height: 35px;
  width: 69px;
}

.endereco .ellipse-62 {
  border: 2px solid;
  border-color: var(--bon-jour-2);
  border-radius: 48.5px;
  height: 97px;
  left: 535px;
  position: absolute;
  top: 240px;
  width: 97px;
}

.endereco .ellipse-container {
  height: 48px;
  left: 559px;
  position: absolute;
  top: 264px;
  width: 46px;
}

.endereco .ellipse-63 {
  border: 2.5px solid;
  border-color: var(--cape-cod);
  border-radius: 5.34px;
  height: 11px;
  left: 20px;
  position: absolute;
  top: 14px;
  width: 11px;
}

.endereco .ellipse-68 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 46px;
}

.endereco .rectangle-187 {
  background: linear-gradient(180deg, rgb(90, 178, 245) 0%, rgb(39, 152, 242) 100%);
  border: 1px none;
  box-shadow: 0px 4px 10px #0000001a;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1728px;
}

.endereco .ol-nome-do-usuario {
  left: 109px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 405px;
}

.endereco .group-53 {
  align-items: center;
  background-color: var(--malibu);
  border-radius: 33px/32.5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  left: 24px;
  min-height: 65px;
  padding: 7px 0;
  position: absolute;
  top: 18px;
  width: 66px;
}

.endereco .ellipse-63-1 {
  border: 2.5px solid;
  border-color: var(--white);
  border-radius: 7.5px;
  height: 15px;
  margin-right: 1.0px;
  margin-top: 10px;
  width: 15px;
}

.endereco .ellipse-64 {
  border: 3px solid;
  border-color: var(--white);
  border-radius: 12px/11.5px;
  height: 23px;
  width: 24px;
}

#edit_end {

  width: 350px;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}


p{
  display: flex;
}
.endereco .group-164 {
  background-image: url(../img/rectangle-81-2@2x.png);
  margin-right:100px;
  margin-top: 120px;
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 55px;
  min-width: 200px;
  padding: 7.0px 82px; 
   
 

  
}

.endereco .salvar{

  letter-spacing: 0;
  line-height: normal;
  min-height: 32px;
  text-align: center;
  width: 151px;

 
}
