/* screen - tela-cadastrar-se */

.tela-cadastrar-se {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(255, 255, 255) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  min-width: 1728px;
}

.tela-cadastrar-se .overlap-group1 {
  background: linear-gradient(180deg, rgb(90, 178, 245) 0%, rgb(42, 254, 215.84) 100%);
  height: 1117px;
  position: relative;
  width: 1728px;
}

.tela-cadastrar-se .rectangle-79 {
  background-color: var(--white);
  border: 1px none;
  border-radius: 30px;
  box-shadow: 0px 4px 4px #0000002e;
  height: 523px;
  left: 637px;
  position: absolute;
  top: 297px;
  width: 453px;
}

.tela-cadastrar-se .cadastrar {
  left: 788px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 319px;
  width: 170px;
}

.tela-cadastrar-se .nome-completo {
  left: 684px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 411px;
  width: 184px;
}

.tela-cadastrar-se .senha {
  left: 684px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 636px;
  width: 70px;
}

.tela-cadastrar-se .line-20 {
  height: 1px;
  left: 684px;
  position: absolute;
  top: 445px;
  width: 362px;
}

.tela-cadastrar-se .data-de-nascimento-ddmmaaaa {
  left: 683px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 581px;
  width: 363px;
}

.tela-cadastrar-se .span1 {
  color: var(--pink-swan);
  font-family: var(--font-family-baloo_da_2);
  font-size: var(--font-size-s);
  font-weight: 400;
}

.tela-cadastrar-se .line-24 {
  height: 1px;
  left: 684px;
  position: absolute;
  top: 615px;
  width: 362px;
}

.tela-cadastrar-se .e-mail {
  left: 684px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 469px;
  width: 70px;
}

.tela-cadastrar-se .line-22 {
  height: 1px;
  left: 684px;
  position: absolute;
  top: 502px;
  width: 362px;
}

.tela-cadastrar-se .cpf {
  left: 684px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 525px;
  width: 56px;
}

.tela-cadastrar-se .line-23 {
  height: 1px;
  left: 684px;
  position: absolute;
  top: 558px;
  width: 362px;
}

.tela-cadastrar-se .line-21 {
  height: 1px;
  left: 684px;
  position: absolute;
  top: 670px;
  width: 362px;
}

.tela-cadastrar-se .botao-avancar {
  height: 55px;
  left: 876px;
  position: absolute;
  top: 726px;
  width: 170px;
}

.tela-cadastrar-se .avanar {
  left: 915px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 732px;
  width: 92px;
}

.tela-cadastrar-se .voltar {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(39, 190, 254) 0%, rgb(38, 154, 242) 100%);
  background-clip: text;
  left: 734px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-fill-color: transparent;
  top: 732px;
  width: 68px;
}

#nome-completo {
  width: 350px;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;

}