/* screen - val-fatura */

.val-fatura {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #0000000d;
  display: flex;
  flex-direction: column;
  min-height: 343px;
  overflow-x: hidden;
  padding: 32px 0;
  width: 1004px;
}

.val-fatura .flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 22px;
  height: 67px;
  margin-left: 42px;
  min-width: 196px;
}

.val-fatura .line-container {
  height: 16px;
  position: relative;
  width: 18px;
}

.val-fatura .line-72 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.val-fatura .line-73 {
  height: 16px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 17px;
}

.val-fatura .fatura {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 52px;
  width: 156px;
}

.val-fatura .line-52 {
  height: 3px;
  margin-top: 44px;
  width: 946px;
}

.val-fatura .overlap-group-container {
  align-items: center;
  display: flex;
  gap: 48px;
  margin-right: 0.39px;
  margin-top: 29px;
  min-width: 840px;
}

.val-fatura .overlap-group2 {
  height: 119px;
  position: relative;
  width: 474px;
}

.val-fatura .price {
  color: var(--cape-cod);
  font-family: var(--font-family-baloo_da_2);
  font-size: 64px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 474px;
}

.val-fatura .line-69 {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 82px;
  width: 402px;
}

.val-fatura .overlap-group {
  align-items: flex-start;
  background-image: url(../img/rectangle-81-2@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 55px;
  margin-bottom: 9.56px;
  min-width: 316px;
  padding: 7.0px 82px;
}

.val-fatura .pagar-fatura {
  letter-spacing: 0;
  line-height: normal;
  min-height: 32px;
  text-align: center;
  width: 151px;
}
