/* screen - alter-num */

.alter-num {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #0000000d;
  display: flex;
  flex-direction: column;
  min-height: 343px;
  overflow-x: hidden;
  padding: 32px 0;
  width: 1004px;
}

.alter-num .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 38px;
  height: 67px;
  margin-left: 42px;
  min-width: 282px;
}

.alter-num .line-container {
  height: 16px;
  position: relative;
  width: 18px;
}

.alter-num .line-72 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.alter-num .line-73 {
  height: 16px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 17px;
}

.alter-num .nmero {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 52px;
  width: 226px;
}

.alter-num .line-52 {
  align-self: center;
  height: 3px;
  margin-top: 44px;
  width: 946px;
}

.alter-num .group-169 {
  align-items: flex-start;
  align-self: flex-end;
  border-radius: 10px;
  display: flex;
  margin-right: 79.39px;
  margin-top: 65px;
  min-width: 318px;
}

.alter-num .overlap-group1 {
  align-items: flex-start;
  background-image: url(../img/rectangle-81-5@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 49px;
  min-width: 316px;
  padding: 6.1px 82px;
}

.alter-num .salvar {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
  text-align: center;
  width: 151px;
}

.alter-num .line-69 {
  height: 1px;
  margin-left: 84.96px;
  margin-top: 3px;
  width: 230px;
}
