/* screen - frame-9 */

.frame-9 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(255, 255, 255) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  min-width: 1728px;
}

.frame-9 .rectangle-181 {
  background: linear-gradient(180deg, rgb(90, 178, 245) 0%, rgb(42, 254, 215.84) 100%);
  border: 1px none;
  height: 1117px;
  width: 1728px;
}
